@font-face {
    font-family: 'gamixregular';
    src: url('./fonts/gamix-webfont.woff2') format('woff2'),
         url('./fonts/gamix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.contents {
    display: grid;
    border: medium dashed green;
    position: absolute;
    height: auto;
    min-width: 500px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: lightgray;
}

.container {
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    margin: 0;
    text-align: center;
}

.title {
    margin: 1em;
    font-family: 'gamixregular';
    font-size: 2em;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin: 0;
}

.tabbutton {
    font-family: 'gamixregular';
    color:olivedrab;
    font-size: 3em;
    background-color: lightgray;
}

.forret {
    margin: 50px;
}

.quotebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-style: oblique;
}