@font-face {
    font-family: 'gamixregular';
    src: url('./fonts/gamix-webfont.woff2') format('woff2'),
         url('./fonts/gamix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: darkslategrey;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: medium solid black;
    height: auto;
    min-width: 500px;
    max-width: 750px;
    background-color: lightgray;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
}

.title {
    margin: 1em;
    font-family: 'gamixregular';
    font-size: 2em;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    width: 100%;
    margin: 0;
}

.tabbutton {
    font-family: 'gamixregular';
    color:black;
    font-size: 3em;
    background-color: lightgray;
    width: 100%;
}

.forret {
    margin: 50px;
}

.quotebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-style: oblique;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.img {
    width:400px;
    height:200px;
    object-fit: cover;
}

.menu {
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}

.menu-group-heading {
    font-family:'gamixregular';
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid darkgray;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-description {
    line-height: 1.6;
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        width: 125px;
        height: 125px;
        flex-shrink: 0;
        object-fit: cover;
        margin-right: 1.5em;
    }
}